<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Manager</title>
</head>

<body>
    <div>
        <h1>Games Manager</h1>
        <a href="/games">Games</a>
        <a href="/genres">Genres</a>
        <a href="/developers">Developers</a>
    </div>
    <div>
        <h2>Add</h2>
        <a href="/games/add">Game</a>
        <a href="/genres/add">Genre</a>
        <a href="/developers/add">Developer</a>
    </div>
</body>

</html>